@import 'src/styles.scss';

.crearEvento{
  font-size: 19px;
  padding: 10px;
}

.form-group {
  border: none;
  outline: none;
  height: 40px;
  background: #2aa869;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 20px;
}

.form-group:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
