@import 'src/styles.scss';

.crearEvento{
  font-size: 33px;
  padding: 5px;
  margin-left: 450px;
}

.toolbar {
  height: 60px;
  display: flex;
  background-color: #000000;
  color: #ffffff;

}

.example-card {
  max-width: 100vh;
  opacity: 45;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 120px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width{
  width: 60%;
  justify-content: center;
  margin-left: 200px;

}

.register {
  margin: 0;
  padding: 0 0 0px;
  text-align: center;
  font-size: 12px;
}


.btn-danger {
  border: none;
  outline: none;
  height: 50px;
  background: #2aa869;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
}

.btn-danger:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.viewList{
  margin-left: 980px;
}

