@import 'src/styles.scss';

table {
  width: 100%;
}

.titleEvents{
  font-size: 40px;
  background-color: #000;
  color: #ffffff;
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
}

.photo_artist{
  width: 30%;
}

.line{
  margin-right: 20%;
}

.fuente{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
