@import 'src/styles.scss';

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.boton-guardar {
  border: none;
  outline: none;
  height: 40px;
  background: #2aa869;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 20px;
}

.boton-guardar:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}


.example-form{
  padding: 10px;
}

.formulario{

//   position: absolute;
// width: 475px;
// height: 538px;
// left: 572px;
// top: 292px;

background: black;
border-radius: 14px;

}
