<form class="example-form" [formGroup]="registerForm" (submit)="submit()">
   <!-- Document  -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Document</mat-label>
    <input type="number" matInput formControlName="ccFormControl" placeholder="11112323 - example">
    <mat-error *ngIf="registerForm.controls.ccFormControl.hasError('maxLength')">
      Please enter a valid CC
    </mat-error>
  </mat-form-field>
 <!-- Name  -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="nameFormControl" placeholder="Jhon Villalba">
    <mat-error
      *ngIf="registerForm.controls.nameFormControl.hasError('email') && !registerForm.controls.nameFormControl.hasError('required')">
      Please enter a valid name
    </mat-error>
    <mat-error *ngIf="registerForm.controls.nameFormControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- E-mail -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>E-mail</mat-label>
    <input type="email" matInput formControlName="emailFormControl" placeholder="E-mail">
    <mat-error
      *ngIf="registerForm.controls.emailFormControl.hasError('email') && !registerForm.controls.emailFormControl.hasError('required')">
      Please enter a valid email
    </mat-error>
    <mat-error *ngIf="registerForm.controls.emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- E-mail -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="passFormControl" placeholder="Password">
    <mat-error
      *ngIf="registerForm.controls.passFormControl.hasError('email') && !registerForm.controls.passFormControl.hasError('required')">
      Please enter a valid password
    </mat-error>
    <mat-error *ngIf="registerForm.controls.passFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button  class="example-full-width" mat-raised-button color="primary" type="submit">Register</button>

</form>
