@import 'src/styles.scss';

// .sign{
//     margin: 0;
//     padding: 0;
//     background: url(../../../../../assets/img/fon.jpg) no-repeat center top;
//     /* background-color: #C3C3C3; */
//     background-size: cover;
//     font-family: sans-serif;
//     height: 100vh;
// }
