@import 'src/styles.scss';

.example-card {
  max-width: 100vh;
  opacity: 45;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 120px;
}

.toolbar {
  height: 60px;
  display: flex;
  background-color: #000000;
  color: #ffffff;

}
.fuente{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.photo_artist{
  width: 20%;
}

.modificarEvento{
  font-size: 33px;
  padding: 5px;
  margin-left: 450px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.register {
  margin: 0;
  padding: 0 0 0px;
  text-align: center;
  font-size: 12px;
}

.example-full-width {
  width: 100%;
}

.formulario{
  position: static;
  width: 450px;
  height: 550px;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.btn-danger {
  border: none;
  outline: none;
  height: 50px;
  background: #2aa869;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
  padding: 12px;
}


.btn-danger:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
