@import 'src/styles.scss';

.example-card {
  max-width: 100vh;
  opacity: 45;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 120px;
}

.toolbar {
  height: 60px;
  display: flex;
  background-color: #000000;
  color: #ffffff;

}

.modificarEvento{
  font-size: 33px;
  padding: 5px;
  margin-left: 450px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.register {
  margin: 0;
  padding: 0 0 0px;
  text-align: center;
  font-size: 12px;
}

.example-full-width {
  width: 100%;
}

.boton-guardar {
  border: none;
  outline: none;
  height: 40px;
  background: #2aa869;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 20px;
}

.boton-guardar:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}


.formulario{

position: static;
width: 450px;
height: 550px;
background-color: white;
background: rgba(255, 255, 255, 0.5);
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
// background: radial-gradient(69.51% 65.86% at 30.49% 45.78%, #75777C 0%, rgba(255, 255, 255, 0) 100%);
// filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 14px;
}

.viewList{
  margin-left: 980px;
}

.btn-danger {
  border: none;
  outline: none;
  height: 50px;
  background: #2aa869;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
}

.btn-danger:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}