<div class="full-width">
  <div class="wrap_carousel center-vertical">
    <ng-simple-carousel-with-dots [images]="images" [controller]="controllerButton" (imgChange)="onImgChange($event)">
    </ng-simple-carousel-with-dots>
  </div>
</div>

<div class="new-cards">
  <div *ngFor = "let artist of artist | slice:0:4">
    <div>
      <img class = "image" mat-card-image [src]="artist.photo_artist">
      <h3>{{artist.name_artist}}</h3>
      <p>{{artist.nationality_artist}}</p>
    </div>
  </div>
</div>

<section class="cards-banner-one">
  <div class="content">
    <h2>5 festivales de musica electronica que debes conocer</h2>
    <p>
      Si eres amante de la musica electronica seguramente has escuchado
      algunos de estos festivales
    </p>
    <a href="https://www.dondeir.com/musica/5-festivales-de-musica-electronica/2017/11/" class="btn">Read more <i
        class="fas fa-angle-double-right"></i></a>
  </div>
</section>
