table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.listArtists{
  font-size: 30px;
  padding: 5px;
}

.photo_artist{
  width: 70%;
  border: 1px solid #000;
}
