<span class="listArtists center-horizontal">LISTA DE ARTISTAS</span>
<mat-form-field appearance="standard">
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

     <!-- Nombre artista Column -->
     <ng-container matColumnDef="photo_artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
      <td mat-cell *matCellDef="let row"><img class="photo_artist" [src]="row.photo_artist"></td>
    </ng-container>

    <!-- Nombre artista Column -->
    <ng-container matColumnDef="name_artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.name_artist}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nationality_artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> País </th>
      <td mat-cell *matCellDef="let row"> {{row.nationality_artist}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="social_networks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Redes sociales </th>
      <td mat-cell *matCellDef="let row"> {{row.social_networks}} </td>
    </ng-container>

        <!-- Fruit Column -->
    <ng-container matColumnDef="description_artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let row"> {{row.description_artist}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="modify(row)"  mat-icon-button aria-label="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)= "delete(row)" mat-icon-button aria-label="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
