@import 'src/styles.scss';

.artist{
  font-size: 40px;
  background-color: #000;
  color: #ffffff;
  width: 100%;
}

.contend{
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.example-card{
  // display: flex;
  flex-flow: column;
  color: #000000;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 14px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

// .image{
//   height: 90%;
//   width: 80%;
// }
