@import 'src/styles.scss';

#footer{
  font-size: 10px;
  background-color: #000;
  color: #ffffff;
  width: 100%;
  margin: 0%;
  height: 4%;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  // height: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
