@import 'src/styles.scss';

.tickets{
  font-size: 40px;
  padding: 5px;
  background-color: #000;
  color: #ffffff;
}

.contend{
  font-size: 16px;
  padding: 0px;
  font-family: sans-serif;
  padding-right: 15%;
}

.image{
  height: auto;
  width: 80%;
  border-radius: 5px;
}

.title{
  font-size: 30px;
}

.target{
  color: #000000;
  height: 200px;
  width: 750px;
  left: 18%;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: dotted;
}

.text{
  margin: 15px;
  margin-top: 10px;
}

.button{
  border: none;
  outline: none;
  height: 40px;
  background: #2aa869;
  color: rgb(0, 0, 0);
  font-size: 12px;
  border-radius: 15px;
  padding-left: 15px;
  margin-top: 60px;
}

.button:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
