<span class="tickets center-horizontal"> Proceso de compra </span>
<div class = "contend">
  <mat-grid-list class="target center-horizontal" cols="7" rowHeight="60px">
    <!-- Imagen -->
    <mat-grid-tile
      [colspan]="2"
      [rowspan]="4">
      <img class = "image" mat-card-image [src]="event.flyer"/>
    </mat-grid-tile>

    <!-- Titulo  -->
    <mat-grid-tile class = "title"
    [colspan]="5"
    [rowspan]="1">
    <span>
      <strong> {{event.description_event}} </strong>
    </span>
    </mat-grid-tile>

    <!-- vacio  -->
    <mat-grid-tile
    [colspan]="5"
    [rowspan]="1">
    <span><strong class ="artist">Artistas:  </strong>
      <button mat-stroked-button color="basic" *ngFor="let item of event.artists">
          {{item.name_artist}}
      </button>
    </span>
    </mat-grid-tile>

    <!-- Fecha -->
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="2">
    <span>
      <strong> Ubicación: General </strong>
    </span>
    </mat-grid-tile>

    <!-- Valores de preventa -->
    <mat-grid-tile
    [colspan]="2"
    [rowspan]="2">
    <span> Valores de preventa:
      <span *ngFor="let item of event.presales">
        <strong> <br> Valor: </strong>
        <br>
        <!-- {{item.date_end_presale}} -->
        {{(precio/100)| currency: "COP ":"symbol"}}
        <br>
      </span>
    </span>
    </mat-grid-tile>

    <!-- Cantidad  -->
    <mat-grid-tile class = "buttons"
    [colspan]="1"
    [rowspan]="2">
    <div>
      <span class="text">
        <strong> Cantidad: </strong>
      </span>
      <br>
      <input class="text" type="number" min="0" [formControl]="cantidad" (change)=onChange(cantidad.value)  #f="ngForm">
    </div>

    <!-- <span>jhon</span> -->
  </mat-grid-tile>

    <!-- Botones -->
    <div class="buttons">
      <mat-grid-tile
      [colspan]="1"
      [rowspan]="2">
      <!-- <button class="button" mat-button color="primary" type="submit"></button> -->
        <strong>
          <form action="https://checkout.wompi.co/p/" method="GET">
            <!-- OBLIGATORIOS -->
            <input type="hidden" name="public-key" value="pub_test_LXYmYNddCsbdCOO4oUtcDEhZzCrl3VNa" />
            <input type="hidden" name="currency" value="COP" />
            <input type="hidden" name="amount-in-cents" [value]="precio" />
            <input type="hidden" name="reference" [value]="refPago" />
            <!-- OPCIONALES -->
            <input type="hidden" name="redirect-url" value="http://18.118.22.184:4200/" />
            <input type="hidden" name="tax-in-cents:vat" [value]="iva" />
            <input type="hidden" name="tax-in-cents:consumption" [value]="consumption" />
            <input type="hidden" name="customer-data:email" value="CORREO_DEL_PAGADOR" />
            <input type="hidden" name="customer-data:full-name" value="NOMBRE_DEL_PAGADOR" />
            <input type="hidden" name="customer-data:phone-number" value="3991111111" />
            <input type="hidden" name="customer-data:legal-id" value="DOCUMENTO_DE_IDENTIDAD_DEL_PAGADOR" />
            <input type="hidden" name="customer-data:legal-id-type" value="TIPO_DEL_DOCUMENTO_DE_IDENTIDAD_DEL_PAGADOR" />
            <input type="hidden" name="shipping-address:address-line-1" value="DIRECCION_DE_ENVIO" />
            <input type="hidden" name="shipping-address:country" value="CO" />
            <input type="hidden" name="shipping-address:phone-number" value="3991111111" />
            <input type="hidden" name="shipping-address:city" value="CIUDAD_DE_ENVIO" />
            <input type="hidden" name="shipping-address:region" value="REGION_DE_ENVIO" />
            <button type="submit" (click)="onClick()" [disabled]="f.invalid" class = "button">
              <strong> Pagar con Wompi </strong> </button>

          </form>
        </strong>
      <!-- </button> -->
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<!-- <pre>{{cantidad.value}}</pre>
<pre>{{cantidad.valid}}</pre> -->

<!-- REGISTRO DE USUARIOS  -->

<!-- <div class="login-box"> -->
<!-- USERNAME INPUT -->
    <!-- <span> Registro de clientes</span> -->
    <!-- <label for="username">Correo</label> -->
    <!-- <input id="user" name="user" type="text" placeholder="Ingrese correo electronico" formControlName="email"> -->

    <!-- <mat-error
    *ngIf="
      userLogin.controls.email.hasError('email') &&
      !userLogin.controls.email.hasError('required')">
      Por favor ingrese un correo válido
    </mat-error>

    <mat-error *ngIf="email">
      El usuario no está registrado, revise el email
    </mat-error> -->



      <!-- PASSWORD INPUT -->
      <!-- <label for="password">Contraseña</label> -->
      <!-- <input id="pass" name="pass" type="password" formControlName="password" placeholder="Ingrese contraseña"> -->

      <!--
      <mat-error *ngIf="password">
        La contraseña es erronea, por favor verifique
      </mat-error>

      <!-- <input type="submit" value="Log In" onclick="location.href='/menu.html'"> -->
      <!-- <input id="boton-guardar" type="submit" value="Ingresar"> -->
      <!--       <a href="#">Lost your Password?</a><br>
      <a href="#">Don't have An account?</a> -->
<!-- <div> -->
