<span class="events center-horizontal"> DETALLES DE EVENTOS </span>
<div class = "contend" >
  <mat-grid-list class="target center-horizontal" cols="6" rowHeight="100px">

    <!-- Titulo  -->
    <mat-grid-tile
    [colspan]="4"
    [rowspan]="1">
    <span>
      <strong class = "title">
        {{event.description_event}}
      </strong>
      <br>
      <span><strong class ="artist">Artistas: </strong>
        <button mat-stroked-button color="basic" *ngFor="let item of event.artists">
          {{item.name_artist}}
        </button>
      </span>
    </span>

    </mat-grid-tile>

    <!-- Imagen -->
    <mat-grid-tile
      [colspan]="2"
      [rowspan]="2">
    <img class = "image" mat-card-image [src]="event.flyer"/>
    </mat-grid-tile>

    <!-- Fecha y valor  -->
    <mat-grid-tile
    [colspan]="2"
    [rowspan]="2">
    <span> Valores de preventa:
      <span *ngFor="let item of event.presales">
        <strong> <br> Fecha / Valor: </strong>
        <br>
        {{item.date_end_presale}} /
        {{item.price_presale | currency: "COP ":"symbol"}}
        <br>
      </span>
    </span>
    </mat-grid-tile>

    <!-- Fecha -->
    <mat-grid-tile
    [colspan]="2"
    [rowspan]="1">
    <strong>Fecha del evento: </strong>
    <span>{{event.date_event}}</span>
    </mat-grid-tile>

    <!-- Ciudad -->
    <mat-grid-tile  class = "center-horizontal"
    [colspan]="2"
    [rowspan]="1">
    <strong> Ciudad / Dirección: </strong>
    <span> {{event.city_event}}</span>
    <span> {{event.direction_event}}</span>
    </mat-grid-tile>

    <!-- Botones -->
    <div>
      <mat-grid-tile
      [colspan]="2"
      [rowspan]="1">
      <button class = "btn-danger" mat-button color="primary" type="button" (click) = comprar(event)>
        <strong>
          Comprar
        </strong>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>



