@import 'src/styles.scss';

.events{
  font-size: 40px;
  padding: 5px;
  background-color: #000;
  color: #ffffff;
}

.contend{
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';

}

.image{
  height: 98%;
  width: 95%;
  border-radius: 5px;
}

.title{
  font-size: 30px;
}

.target{
  color: #000000;
  width: 90%;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.btn-danger {
  border: none;
  outline: none;
  height: 40px;
  background: #2aa869;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border-radius: 15px;
  margin-right: 10px;
}

.btn-danger:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

