<div class="container-sidebar">
  <div class="row">
    <div class=" logo col-12 center-horizontal">
      <img src="./assets/img/logo_header_larg.png" class="img-logo-banner" alt="Logo app"
      />
    </div>

    <div class="btSeccionOne">
      <button class="center-left" mat-button [routerLink]="'events'">
        <mat-icon>event</mat-icon>
        Eventos
      </button>

      <button class="center-left" mat-button [routerLink]="'/admin/artists'">
        <mat-icon>play_circle_outline</mat-icon>
        Artistas
      </button>

      <button class="center-left" mat-button [routerLink]="'/admin/register'">
        <mat-icon>library_books</mat-icon>
        Registrar admin
      </button>
    </div>

    <div class="btSeccionTwo">
      <button class="center-left" mat-button [routerLink]="'news'">
        <mat-icon>info</mat-icon>
        Acerca De
      </button>

      <button class="center-left" mat-button [routerLink]="'news'">
        <mat-icon>help_outline</mat-icon>
        Ayuda
      </button>

      <button class="center-left" mat-button [routerLink]="'/'">
        <mat-icon>person_outline</mat-icon>
        Volver al Home
      </button>
    </div>
  </div>
</div>
