<div class="container-sidebar">
    <div class=" logo col-12 center-horizontal">
      <img src="./assets/img/logo_header_larg.png" class="img-logo-banner" alt="Logo app"/>
    </div>
    <hr>
    <div class = "user">
      <span> Usuario: <mat-label> {{userData.name}}</mat-label></span><br>
      <span> Correo: {{userData.email}}</span>
    </div>
    <hr>
    <div class="btSeccionOne">
      <button class="center-left" mat-button [routerLink]="'events'">
        <mat-icon>event</mat-icon>
        Eventos
      </button>

      <button class="center-left" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>people icon</mat-icon>
        Artistas
        <mat-menu #menu="matMenu" >
          <button mat-menu-item [routerLink]="'/admin/add-artists'">Agregar</button>
          <button mat-menu-item [routerLink]="'/admin/ViewListArtistComponent'">Ver</button>
        </mat-menu>
      </button>

      <!-- <button class="center-left" mat-button [routerLink]="'play-list'">
        <mat-icon>play_circle_outline</mat-icon>
        PlayList
      </button> -->

      <button class="center-left" mat-button [routerLink]="'report'">
        <mat-icon>tab</mat-icon>
        Ticket
      </button>

      <div *ngIf="!isAdmin">
        <button class="center-left" mat-button [routerLink]="'register'">
          <mat-icon>library_books</mat-icon>
          Registrar
        </button>
      </div>
      <!--</ng-template>-->
    </div>

    <div class="btSeccionTwo">
      <button class="center-left" mat-button [routerLink]="'news'">
        <mat-icon>info</mat-icon>
        Acerca De
      </button>

      <button class="center-left" mat-button [routerLink]="'news'">
        <mat-icon>help_outline</mat-icon>
        Ayuda
      </button>

      <button class="center-left" mat-button (click)="exitToApp()">
        <mat-icon>exit_to_app</mat-icon>
        Salir
      </button>
    </div>
</div>
