@import 'src/styles.scss';

.container-sidebar {
  a:link {color:#79CBBD;}
  a:visited {color:#79CBBD;}
  a:active {color:#ffffff;}
  color: #1EF0C3;
  text-decoration: none;
  padding: 8px;
}

.user{
  margin-left: 20px;
  margin-top: 10px ;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.img-logo-banner{
  padding: 10px;
  width:200px;
}

.btSeccionOne{
  margin-left: 10px;
  margin-top: 15px ;
}

.btSeccionTwo{
  margin-left: 10px;
  margin-top: 20px ;
}
