@import 'src/styles.scss';

.crearEvento{
  font-size: 33px;
  padding: 5px;
  margin-left: 475px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.addArtists{
  font-size: 33px;
  padding: 5px;
  margin-left: 450px;
}

.toolbar {
  height: 60px;
  display: flex;
  background-color: #000000;
  color: #ffffff;

}

.example-full-width{
  width: 100%;

}

.btn-danger {
  border: none;
  outline: none;
  height: 50px;
  background: #2aa869;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 20px;
}

.btn-danger:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}


.formulario{
position: static;
width: 450px;
height: 400px;
background-color: white;
background: rgba(255, 255, 255, 0.5);
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
border-radius: 14px;
}

.crearEvento{
  font-size: 30px;
  padding: 5px;

}
