/* You can add global styles to this file, and also import other style files */

$color-primary: #000000;

@font-face {
  font-family: Headliner;
  src: url(assets/Fonts/Font.ttf) format("truetype");
}


html,
body {
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

body {
  margin: 1;
  font-family: Headliner;

}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-left {
  display: flex;
  justify-content: left;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.example-container {
  width: 100%;
  height: 100%;
  border: .1px solid rgb(0, 0, 0);
}

.container-sidebar {
  background-color: $color-primary;
  height: 100%;
  width: 250px !important;
  padding-right: 10px;
  padding-top: 50px;
}

.img-logo-banner{
  padding: 5px;
  height: 130px !important;
  margin-bottom: 20px;
}


