/* You can add global styles to this file, and also import other style files */

$color-primary: #000000;

@font-face {
  font-family: Headliner;
  src: url(assets/Fonts/Font.ttf) format("truetype");
}

html,
body {
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

body {
  margin: 2px;
  font-family: Headliner;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-left {
  display: flex;
  justify-content: left;
}

.center-right{
  display: flex;
  justify-content: right;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.example-container {
  width: 100%;
  height: 100%;
  border: .1px solid rgb(0, 0, 0);
}

.container-sidebar {
  background-color: $color-primary;
  height: 100%;
  width: 250px !important;
  padding-right: 10px;
  padding-top: 50px;
}

.img-logo-banner{
  padding: 5px;
  height: 130px !important;
  margin-bottom: 10px;
}

.mat-icon {
  font-size: 25px;
}

// estilos seccion ayuda 

:root {
	--primario: #79CBBD;
	--gris-claro: #B8B8B8;
	--sombra: 0 0 13px 0 rgba(185,185,185, .25);
}

.categorias {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	margin-bottom: 60px;
}

.categoria {
	cursor: pointer;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	font-weight: 700;
	color: var(--gris-claro);
	border: 2px solid transparent;
	transition: .3s ease all;
}

main {
	max-width: 2000px;
	width: 100%;
	margin: 40px auto;
}

.categoria:hover {
	box-shadow: var(--sombra);
	color: #000;
}

.categoria:hover path {
	fill: var(--primario);
}

.categoria svg {
	width: 90px;
	margin-bottom: 10px;
}

.categoria path {
	fill: var(--gris-claro);
	transition: .3s ease all;
}

.categoria.activa {
	border: 2px solid var(--primario);
	color: #000;
}

.categoria.activa path {
	fill: var(--primario);
}

.pregunta {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pregunta img {
	width: 14px;
}

.respuesta {
	color: #808080;
	line-height: 30px;
	max-height: 0;
	opacity: 0;
	transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta {
	opacity: 1;
	margin-top: 20px;
}

.contenedor-pregunta.activa img {
	transform: rotate(45deg);
}

.imgpf{
  width: 80%;
}