@import 'src/styles.scss';

.container-sidebar {
  a:link {color:#79CBBD;}
  a:visited {color:#79CBBD;}
  a:active {color:#ffffff;}
  color: #1EF0C3;
  // color: #FFD200;
  text-decoration: none;
  padding: 10px;
}

.img-logo-banner{
  padding: 10px;
  width:220px;
}

.btSeccionOne{
  margin-left: 10px;
  margin-top: 30px ;
}

.btSeccionTwo{
  margin-left: 10px;
  margin-top: 40px ;
}
