<div class="container-sidebar">
  <div class="row">
    <div class="col-12 center-horizontal">
      <img src="./assets/img/logo_header.png" class="img-logo-banner" alt="Logo app">
    </div>
    <div class="col-12">
      <ul>
        <li>
          <a [routerLink]="'home'">Home</a>
        </li>
        <li>
          <a [routerLink]="''">Eventos</a>
        </li>
        <li>
          <a [routerLink]="'play-list'">PlayList</a>
        </li>
        <li>
          <a [routerLink]="'news'">Noticias</a>
        </li>
        <li>
          <a [routerLink]="'/auth'">Administrador</a>
        </li>
      </ul>
    </div>
  </div>

</div>
